@import url("https://fonts.cdnfonts.com/css/summer-party");
@import url("https://fonts.cdnfonts.com/css/khamden-script");
@import url("https://fonts.cdnfonts.com/css/gralise");
@import url("https://fonts.cdnfonts.com/css/bertha-script");
@import url("https://fonts.cdnfonts.com/css/mystical-floralish");
@import url("https://fonts.cdnfonts.com/css/manfitte");
@import url("https://fonts.cdnfonts.com/css/bronten");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

html, body {
  font-family: "Mystical Floralish", sans-serif;
  font-family: "Bronten", sans-serif;
  font-family: "Manfitte", sans-serif;
  color: #03503e;
  background-color: white;
  overflow-x: clip;
  list-style: none;
}

h1, h2,
h3, h4,
h5, h6,
.nav_menu li {
  font-family: "Bertha Script", sans-serif;
  font-family: "Gralise", sans-serif;
  font-family: "Khamden Script", sans-serif;
  color: #0a946a;
}

/*<===== header section starts =====>*/
.container {
  max-width: 1440px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
@media screen and (min-width: 767px) {
  .container {
    margin-bottom: 10px;
  }
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-nav .nav_home_btn {
  font-size: 1.2rem;
  font-weight: bolder;
  min-width: 30%;
  margin-left: 10px;
  letter-spacing: 1.2px;
}
.top-nav .nav_home_btn a {
  color: #0a946a;
  text-decoration: none;
  font-family: "Summer Party", sans-serif;
}
.top-nav .nav_home_btn span {
  font-size: 2rem;
  font-style: italic;
}
@media screen and (min-width: 767px) {
  .top-nav .nav_home_btn {
    text-align: center;
    min-width: 40%;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .top-nav .nav_home_btn span {
    font-size: 2rem;
  }
}
.top-nav .nav_link_btn .nav_menu {
  position: fixed;
  left: -100%;
  top: 3rem;
  flex-direction: column;
  background-color: white;
  width: 100%;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  padding: 5px;
}
.top-nav .nav_link_btn .nav_menu li {
  font-size: 1.2rem;
  display: block;
  padding: 5px;
  font-weight: 800;
  letter-spacing: 2px;
}
.top-nav .nav_link_btn .nav_menu li .nav_link {
  transition: 0.3s ease-out;
  text-decoration: none;
  color: #0a946a;
}
.top-nav .nav_link_btn .nav_menu li .nav_link:hover {
  color: green;
  text-decoration: underline #03503e;
}
.top-nav .nav_link_btn .nav_menu .nav_mode_btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #0a946a;
}
.top-nav .nav_link_btn .nav_menu .nav_mode_btn img {
  max-width: 1.5rem;
  max-height: 1.5rem;
}
.top-nav .nav_link_btn .nav_menu.active {
  left: 0;
}

/*<===== hamburger styling =====>*/
.hamburger {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: #03503e;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width: 767px) {
  .hamburger {
    display: none;
  }
  .nav_home_btn {
    width: 30px;
  }
  .nav_link_btn {
    width: 70%;
  }
  .top-nav .nav_link_btn .nav_menu {
    position: revert;
    width: 100%;
    background-color: white;
  }
  .top-nav .nav_link_btn .nav_menu li {
    display: inline;
    margin-left: 3rem;
  }
  .top-nav .nav_link_btn .nav_menu .nav_mode_btn {
    width: 3rem;
  }
}
/*<===== header section ends =====>*/
/*<===== hero section starts =====>*/
.hero-header {
  gap: 5px;
  margin-top: 3.5rem;
}
@media screen and (min-width: 767px) {
  .hero-header {
    display: flex;
    justify-content: space-between;
    margin: 4rem 5rem 0rem 5rem;
  }
}
.hero-header .hero_text_container h1 {
  font-size: 2rem;
  padding: 5px;
}
.hero-header .hero_text_container h1 span {
  color: #03503e;
}
.hero-header .hero_text_container h3 {
  font-size: 1.5rem;
  padding: 5px;
}
.hero-header .hero_text_container p {
  font-size: 1rem;
  padding: 5px;
  letter-spacing: 0.08rem;
  color: #03503e;
}
.hero-header .hero_text_container input {
  margin: 10px;
  background-color: #03503e;
  color: rgb(243, 243, 243);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .hero-header .hero_text_container {
    width: 50%;
    padding: 30px;
    min-height: 13rem;
    text-align: center;
  }
  .hero-header .hero_text_container h1 {
    font-size: 3rem;
  }
  .hero-header .hero_text_container h3 {
    font-size: 2rem;
  }
  .hero-header .hero_text_container p {
    font-size: 1.5rem;
  }
}
.hero-header .hero_img_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-header .hero_img_container img {
  margin-right: 10px;
  max-width: 350px;
  max-height: 350px;
}
@media screen and (min-width: 767px) {
  .hero-header .hero_img_container {
    width: 60%;
  }
  .hero-header .hero_img_container img {
    max-width: 500px;
    max-height: 500px;
  }
}

/*<===== hero section ends =====>*/
/*<===== work process and services starts =====>*/
.service-container {
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  text-align: center;
  margin: 3rem 0;
}
.service-container h3 {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
.service-container .service_dev_container .service_offer {
  padding: 5px;
  font-size: 1.2rem;
}
.service-container .service_dev_container .service_offer ul li {
  padding: 5px;
}
@media screen and (min-width: 767px) {
  .service-container .service_dev_container .service_offer {
    font-size: 1.5rem;
  }
  .service-container .service_dev_container .service_offer ul li {
    display: inline;
    letter-spacing: 0.2rem;
    padding-left: 10px;
  }
}
.service-container .working_process_container .working_process {
  padding: 5px;
}
.service-container .working_process_container .working_process ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 2rem;
  margin: auto;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
.service-container .working_process_container .working_process ul div {
  padding: 0 0.5rem;
}
@media screen and (min-width: 767px) {
  .service-container .working_process_container .working_process ul {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    max-width: 5rem;
  }
  .service-container .working_process_container .working_process ul div {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 767px) {
  .service-container {
    text-align: center;
    display: block;
    height: auto;
    margin: 5rem;
  }
}

/*<===== work process and services ends =====>*/
/*<===== about me starts =====>*/
.about-container {
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  /* <===== skills container starts =====>*/
}
@media screen and (min-width: 900px) {
  .about-container {
    margin: 5rem;
  }
}
.about-container .about_header_text {
  float: right;
  font-size: 1.5rem;
  padding-right: 1rem;
}
@media screen and (min-width: 767px) {
  .about-container .about_header_text {
    padding-right: 5rem;
  }
}
.about-container .about_me_container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding: 5px;
  width: 100%;
}
.about-container .about_me_container .profile_img_container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 3;
  border-radius: 50%;
  margin: 0.8rem;
  height: 8rem;
}
.about-container .about_me_container .profile_img_container img {
  max-width: 7rem;
  max-height: 7rem;
  border-radius: 50%;
  background-color: white;
}
@media screen and (min-width: 767px) {
  .about-container .about_me_container .profile_img_container img {
    max-height: 10rem;
    max-width: 10rem;
    border-radius: 10px;
  }
}
@media screen and (min-width: 767px) {
  .about-container .about_me_container .profile_img_container {
    min-height: 11rem;
    border-radius: 10px;
  }
}
.about-container .about_me_container .about_me_text {
  width: 100%;
  padding: 10px;
}
@media screen and (min-width: 767px) {
  .about-container .about_me_container .about_me_text {
    padding: 30px;
  }
}
.about-container .about_me_container .about_me_text button {
  margin-top: 10px;
  float: right;
  margin-top: 5px;
  background-color: #03503e;
  color: rgb(243, 243, 243);
  border-radius: 10px;
  padding: 5px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 465px) {
  .about-container .about_me_container .about_me_text button {
    margin-top: 20px;
  }
}
@media screen and (min-width: 767px) {
  .about-container .about_me_container .about_me_text button {
    margin: 20px;
  }
}
.about-container .skill_header_text {
  margin-left: 1rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 767px) {
  .about-container .skill_header_text {
    margin-left: 5rem;
  }
}
.about-container .skills_container {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.about-container .skills_container .dev_skills_container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 767px) {
  .about-container .skills_container .dev_skills_container .dev_skills {
    margin-bottom: 2.5rem;
  }
  .about-container .skills_container .dev_skills_container .dev_other_skills {
    margin-top: 2.5rem;
  }
}
.about-container .skills_container .skills_header {
  text-align: center;
}
.about-container .skills_container .soft_skill_container {
  text-align: center;
}
.about-container .skills_container .soft_skill_container .soft_skills_list ul li {
  padding: 5px;
  justify-content: center;
}
@media screen and (min-width: 767px) {
  .about-container .skills_container {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 3rem;
    align-items: center;
  }
  .about-container .skills_container .soft_skill_container {
    max-width: 30%;
  }
  .about-container .skills_container .soft_skill_container .soft_skills_list {
    text-align: left;
  }
  .about-container .skills_container .soft_skill_container .soft_skills_list ul li {
    display: block;
  }
}
.about-container .dev_skills_icons, .about-container .other_skills_icons {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}
.about-container .dev_icon, .about-container .skills_icon {
  max-width: 2rem;
  max-height: 2rem;
}
@media screen and (min-width: 767px) {
  .about-container .dev_icon, .about-container .skills_icon {
    max-width: 4rem;
    max-height: 4rem;
  }
}

/*<===== about me ends =====>*/
/*<===== portfolio section starts =====>*/
.portfolio-container {
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  margin: 3rem 0;
}
.portfolio-container h3 {
  padding: 1rem;
}
.portfolio-container p {
  padding: 5px;
}
.portfolio-container p span a {
  color: #0a946a;
  text-decoration: none;
}
.portfolio-container p span a:hover {
  color: #03503e;
}
.portfolio-container .portfolio_projects {
  display: grid;
  grid-template-columns: auto auto;
  min-height: 12rem;
}
@media screen and (min-width: 767px) {
  .portfolio-container .portfolio_projects {
    margin: 0 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
.portfolio-container .card {
  display: flex;
  flex-direction: column;
  margin: 5px;
  justify-content: center;
  padding: 5px;
  border: 1px solid #03503e;
  border-radius: 5px;
}
.portfolio-container .card .card-img-top {
  max-height: 50px;
  max-width: 100%;
}
.portfolio-container .card .btn-primary {
  display: flex;
  padding: 2px;
  margin: 3px;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (min-width: 767px) {
  .portfolio-container .card .btn-primary {
    flex-direction: row;
    justify-content: space-between;
  }
}
.portfolio-container .card .btn-primary .btn {
  background-color: #03503e;
  text-decoration: none;
  color: rgb(243, 243, 243);
  border-radius: 10px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 767px) {
  .portfolio-container .card .btn-primary .btn {
    width: 50%;
  }
}
.portfolio-container .card .btn-primary .btn_img {
  max-width: 30px;
  max-height: 30px;
}
@media screen and (min-width: 900px) {
  .portfolio-container {
    margin: 1rem 5rem;
  }
}

/*<===== portfolio ends =====>*/
/*<===== footer section starts =====>*/
.contact_footer_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
@media screen and (min-width: 465px) {
  .contact_footer_section {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 900px) {
  .contact_footer_section {
    margin: 2rem 10rem;
    font-size: 1.2rem;
  }
}
.contact_footer_section p {
  font-size: 1rem;
}
.contact_footer_section .social_connect_container {
  margin: 2rem 0rem;
}
.contact_footer_section .social_connect_container h3 {
  font-size: 1.5rem;
  margin: 10px;
}
.contact_footer_section .social_connect_container .social_connect_icons {
  text-align: left;
}
.contact_footer_section .social_connect_container .social_connect_icons h4 {
  margin: 5px;
}
.contact_footer_section .social_connect_container .social_connect_icons img {
  max-width: 2rem;
  max-height: 2rem;
}
.contact_footer_section .social_connect_container .social_connect_icons .contact_icons {
  padding: 5px;
}
.contact_footer_section .social_connect_container .social_connect_icons .contact_icons ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact_footer_section .social_connect_container .social_connect_icons .contact_icons ul div {
  display: flex;
}
.contact_footer_section .social_connect_container .social_connect_icons .contact_icons ul a {
  text-decoration: none;
  color: #03503e;
}
.contact_footer_section .social_connect_container .social_connect_icons .contact_icons ul a:hover {
  color: #0a946a;
}
@media screen and (min-width: 767px) {
  .contact_footer_section .social_connect_container .social_connect_icons .contact_icons ul a {
    padding: 5px;
    font-size: 1.2rem;
  }
}
.contact_footer_section .social_connect_container .social_connect_icons .social_icons {
  padding: 5px;
}
.contact_footer_section .social_connect_container .social_connect_icons .social_icons ul {
  display: flex;
  justify-content: space-between;
}
.contact_footer_section .social_connect_container .social_connect_icons .social_icons ul li a {
  cursor: pointer;
}
.contact_footer_section .social_connect_container .social_connect_icons .social_icons ul li:hover {
  transform: scale(1.5);
}
.contact_footer_section .message_me_container {
  margin-bottom: 1rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 20rem;
}
@media screen and (min-width: 767px) {
  .contact_footer_section .message_me_container {
    width: 40%;
    margin: 1rem 0;
  }
}
.contact_footer_section .message_me_container h3 {
  font-size: 1.3rem;
}
.contact_footer_section .message_me_container form .input_form {
  display: flex;
  flex-direction: column;
  margin: 5px 2px;
}
.contact_footer_section .message_me_container form .input_form input {
  min-height: 1.5rem;
  margin: 3px;
  border: 1px solid #0a946a;
  border-radius: 5px;
  padding: 5px;
}
.contact_footer_section .message_me_container form .input_form textarea {
  min-height: 5rem;
  margin: 3px;
  border: 1px solid #0a946a;
  border-radius: 5px;
  padding: 5px;
}
.contact_footer_section .message_me_container form .input_form .submit_btn {
  background-color: #03503e;
  color: rgb(243, 243, 243);
}

.footer_text {
  background-color: #03503e;
  color: rgb(243, 243, 243);
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.3rem;
  font-weight: 600;
}

hr {
  min-width: 50%;
  text-align: center;
  height: 0.2rem;
  background-color: #03503e;
  margin: 0 1rem;
}
@media screen and (min-width: 767px) {
  hr {
    text-align: center;
    margin: 0 2rem;
  }
}

body.dark-mode {
  background-color: #0a946a;
}
body.dark-mode #home div, body.dark-mode #home h2, body.dark-mode #home p, body.dark-mode #home li, body.dark-mode #home a,
body.dark-mode #about div,
body.dark-mode #about h2,
body.dark-mode #about p,
body.dark-mode #about li,
body.dark-mode #about a,
body.dark-mode #portfolio div,
body.dark-mode #portfolio h2,
body.dark-mode #portfolio p,
body.dark-mode #portfolio li,
body.dark-mode #portfolio a,
body.dark-mode #contact div,
body.dark-mode #contact h2,
body.dark-mode #contact p,
body.dark-mode #contact li,
body.dark-mode #contact a,
body.dark-mode .service-container div,
body.dark-mode .service-container h2,
body.dark-mode .service-container p,
body.dark-mode .service-container li,
body.dark-mode .service-container a {
  color: black;
}
body.dark-mode #home h1, body.dark-mode #home h3, body.dark-mode #home h4,
body.dark-mode #about h1,
body.dark-mode #about h3,
body.dark-mode #about h4,
body.dark-mode #portfolio h1,
body.dark-mode #portfolio h3,
body.dark-mode #portfolio h4,
body.dark-mode #contact h1,
body.dark-mode #contact h3,
body.dark-mode #contact h4,
body.dark-mode .service-container h1,
body.dark-mode .service-container h3,
body.dark-mode .service-container h4 {
  color: rgb(243, 243, 243);
}
body.dark-mode #home .portfolio_projects a,
body.dark-mode #about .portfolio_projects a,
body.dark-mode #portfolio .portfolio_projects a,
body.dark-mode #contact .portfolio_projects a,
body.dark-mode .service-container .portfolio_projects a {
  background-color: rgb(243, 243, 243);
}
body.dark-mode #home hr,
body.dark-mode #about hr,
body.dark-mode #portfolio hr,
body.dark-mode #contact hr,
body.dark-mode .service-container hr {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
