body.dark-mode {
    background-color: $dark-base-color;


    #home,
    #about,
    #portfolio,
    #contact,
    #header,
    #skills,
    .container,
    .service-container
    {
        div, h2, p, li, a, span{
            color: black;
        }

        h1, h3, h4, h5 {
            color: $dark-white;
        }

        input[type=button],
        .download-cv {
            &:hover {
                background-color: $dark-white;
                color: #000;
            }
        }

        // background-color: revert;
        .flip-card-body,
        .flip-card-front {
            // background-color: $white;
        }

        .submit_btn {
            background-color: $dark-white;
            color: #000;
        }

        .nav_link:hover {
            text-decoration: underline 2px $dark-white;
        }
    }

    .to-top {
        background-color: $base-color;
    }
    
    .footer_text {
        .rights-link {
            color: $dark-white;
        }
    }
}