// normal mode
$base-color: #0a946a;
$white: rgb(243, 243, 243);
$whiter: white;
$primary: #03503e;

// for darkmode
// $dark-base-color: #0a946a;
$dark-base-color: #507564;
$dark-white: rgb(243, 243, 243);
$dark-whiter: white;
$dark-primary: #03503e;