@import url('https://fonts.cdnfonts.com/css/summer-party');
@import url('https://fonts.cdnfonts.com/css/manfitte');
@import url('https://fonts.cdnfonts.com/css/bronten');


@import 'variables';

$base-color: #0a946a;
$white: rgb(243, 243, 243);
$whiter: white;
$primary: #03503e;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html, body {
    font-family: 'Manfitte', sans-serif;
    
    color: black;
    
    background-color: $whiter;
    overflow-x: clip;
    list-style: none;
}

h1, h2,
h3, h4,
h5, h6,
.nav_menu li {
    font-family: 'Bronten', sans-serif;

    // color: $base-color;
    color: $primary;
}

/*<===== header section starts =====>*/

.container {
    max-width: 1440px;
    width: 100%;
    // margin: 0 auto;
    background-color: $whiter;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    @media screen and (min-width:767px){
        margin-bottom: 10px;
    }
    
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    

    .nav_home_btn {
        font-size: 1.2rem;
        font-weight: bolder;
        min-width: 30%;
        margin-left: 10px;
        letter-spacing: 1.2px;

        a {
            color: $base-color;
            text-decoration: none;
            font-family: 'Summer Party', sans-serif;
                                                
        }

        span {
            font-size: 2rem;
            font-style: italic;
        }

        @media screen and (min-width:767px) {
            text-align: center;
            min-width: 40%;
            padding: 1rem;
            font-size: 1.5rem;

            span {
                font-size: 2rem;
            }
        }

    }

    .nav_link_btn {

        .nav_menu {
            position: fixed;
            left: -100%;
            top: 3rem;
            flex-direction: column;
            // color: $primary;
            background-color: $whiter;
            width: 100%;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            padding: 5px;

            li {
                font-size: 1.2rem;
                display: block;
                padding: 5px;
                font-weight: 800;
                letter-spacing: 2px;

                .nav_link {
                    transition: 0.3s ease-out;
                    text-decoration: none;
                    color: $base-color;  
                }

                .nav_link:hover {
                    color: $primary;
                    text-decoration: underline $primary;
                }
            }

            .nav_mode_btn {
                background: none;
                border: none;
                cursor:pointer;
                color: $base-color;

                img {
                    max-width: 1.5rem;
                    max-height: 1.5rem;
                }
            }
        }


        .nav_menu.active{
            left: 0;
          }
    }
}

/*<===== hamburger styling =====>*/
.hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background-color: $primary;
}

.hamburger.active .bar:nth-child(2){
      opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width:767px){
    .hamburger{
      display: none;
    }

    .nav_home_btn {
        width: 30px;
    }
    .nav_link_btn {
        width: 70%;
    }

    .top-nav {
        .nav_link_btn {
            .nav_menu {
                position: revert;
                width: 100%;
                background-color: $whiter;

                li {
                    display: inline;
                    margin-left: 3rem;
                }

                .nav_mode_btn {
                    width: 3rem;
                }
            }
        }
    }
  
}

/*<===== header section ends =====>*/


/*<===== hero section starts =====>*/

.hero-header {
    gap: 5px;
    margin-top: 3.5rem;

    @media screen and (min-width:767px) {
        display: flex;
        justify-content: space-between;
        margin: 4rem 5rem 0rem 5rem;
    }

    .hero_text_container {
        h1 {
            font-size: 2rem;
            padding: 5px;

            span {
                color: $base-color;
            }
        }

        h3 {
            font-size: 1.5rem;
            padding: 5px;
        }

        p {
            font-size: 1rem;
            padding: 5px;
            letter-spacing: .08rem;
            color: $primary;
        }

        input {
            margin: 10px;
            background-color: $primary;
            color: $white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: $base-color;
            }
        }
        
        @media screen and (min-width:767px) {
            width:50%;
            padding: 30px;
            min-height: 13rem;
            text-align: center;

            h1 {
                font-size: 3rem;
            }

            h3 {
                font-size: 2rem;
            }

            p {
                font-size: 1.5rem;
            }
            
        }
    }

    .hero_img_container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-right: 10px;
            max-width: 350px;
            max-height: 350px;
        }

        @media screen and (min-width:767px) {
            width:60%;

            img {
                max-width: 500px;
                max-height: 500px;
            }
            
        }
    }
}
/*<===== hero section ends =====>*/


/*<===== work process and services starts =====>*/

.service-container {
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
    text-align: center;
    margin: 3rem 0;

    h3 {
        font-size: 1.5rem;
        letter-spacing: .2rem;
    }

    .service_dev_container {
        .service_offer {
            padding: 5px;
            font-size: 1.2rem;

            ul {
                li {
                    padding: 5px;
                }
            }

            @media screen and (min-width:767px) {
                font-size: 1.5rem;

                ul {
                    li {
                        display: inline;
                        letter-spacing: .2rem;
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    

    .working_process_container{

        .working_process {
            padding: 5px;
            
            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                max-width: 2rem;
                margin: auto;
                font-size: 1rem;
                letter-spacing: .1rem;

                div {
                    padding: 0 .5rem;
                }
                
                @media screen and (min-width: 767px) {
                    font-size: 1.5rem;
                    letter-spacing: .2rem;
                    max-width: 5rem;
                    
                    div {
                        padding: 0 1rem;
                    }
                }
            }
        }

    }

    @media screen and (min-width: 767px) {
        text-align: center;
        display: block;
        height: auto;
        margin: 5rem;
    }
}
/*<===== work process and services ends =====>*/


/*<===== about me starts =====>*/

.about-container {
    font-size: 1.5rem;
    letter-spacing: .15rem;

    @media screen and (min-width:900px) {
        margin: 5rem;
    }
    
    .about_header_text {
        float: right;
        font-size: 1.5rem;
        padding-right:1rem;

        @media screen and (min-width:767px) {
            padding-right: 5rem;
        }
    }

    .about_me_container {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        padding: 5px;
        width: 100%;

        .profile_img_container {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 3;
            border-radius: 50%;
            margin: .8rem;
            height: 8rem;

            img {
                max-width: 7rem;
                max-height: 7rem;
                border-radius: 50%;
                background-color: $whiter;

                @media screen and (min-width:767px) {
                    max-height: 10rem;
                    max-width: 10rem;
                    border-radius: 10px;
                }
            }

            @media screen and (min-width:767px) {
                min-height: 11rem;
                border-radius: 10px;
            }
        }

        .about_me_text {
            width: 100%;
            padding: 10px;

            @media screen and (min-width:767px) {
                padding: 30px;
            }


            button {
                margin-top: 10px;
                float: right;
                margin-top: 5px;
                background-color: $primary;
                color: $white;
                border-radius: 10px;
                padding: 5px;
                border: none;
                cursor: pointer;

                @media screen and (max-width:465px) {
                    margin-top: 20px;
                }

                @media screen and (min-width:767px) {
                    margin: 20px;
                }

                &:hover {
                    background-color: $base-color;
                }
            }
        }
    }

    /* <===== skills container starts =====>*/

    .skill_header_text {
        margin-left: 1rem;
        font-size: 1.5rem;

        @media screen and (min-width:767px) {
            margin-left: 5rem;
        }
    }

    .skills_container {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        .dev_skills_container {
            flex-grow: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            @media screen and (min-width:767px) {
                .dev_skills {
                    margin-bottom: 2.5rem;
                }

                .dev_other_skills {
                    margin-top: 2.5rem;
                }
            }
            
        }
        
        .skills_header {
            text-align: center;
        }

        .soft_skill_container {
            text-align: center;

            .soft_skills_list {
                ul {
                    li {
                        padding: 5px;
                        justify-content: center;
                    }
                }
            }
        }

        @media screen and (min-width:767px) {
            flex-direction: row;
            justify-content: space-around;
            margin: 0 3rem;
            align-items: center;

            .soft_skill_container {
                max-width: 30%;
                .soft_skills_list {
                    text-align: left;
                    ul {
                        li {
                            display: block;
                        }
                    }
                }
            }
            
        }
        
    }
    
    .dev_skills_icons, .other_skills_icons {
        display: flex;
        justify-content: space-evenly;
        padding: 5px;
    }

    .dev_icon, .skills_icon {
        max-width: 2rem;
        max-height: 2rem;

        @media screen and (min-width:767px) {
            max-width: 4rem;
            max-height: 4rem;
        }
    }
}
/*<===== about me ends =====>*/


/*<===== portfolio section starts =====>*/

.portfolio-container {
    font-size: 1.5rem;
    letter-spacing: .15rem;
    margin: 3rem 0;

    h3 {
        padding: 1rem;
    }

    p {
        padding: 5px;
        
        span {
            a {
                color: $base-color;
                text-decoration: none;

                &:hover {
                    color: $primary;
                }
            }
        }
    }
    


    .portfolio_projects {
        display: grid;
        grid-template-columns: auto auto;
        min-height: 12rem;

        @media screen and (min-width:767px){
            margin: 0 .5rem;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        margin: 5px;
        justify-content: center;
        padding: 5px;
        border:1px solid $primary;
        border-radius: 5px;

        .card-img-top {
            max-height: 50px;
            max-width: 100%;
        }

        .btn-primary {
            display: flex;
            padding: 2px;
            margin: 3px;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;

            @media screen and (min-width:767px){
                flex-direction: row;
                justify-content: space-between;
            }

            .btn {
                background-color: $primary;
                text-decoration: none;
                color: $white;
                border-radius: 10px;
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                @media screen and (min-width:767px){
                    width: 50%;
                }
            }

            .btn_img {
                max-width: 30px;
                max-height: 30px;
            }
        }
    }

    @media screen and (min-width:900px) {
        margin: 1rem 5rem;
    }
}
/*<===== portfolio ends =====>*/


/*<===== footer section starts =====>*/

.contact_footer_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    letter-spacing: .2rem;
    font-weight:600 ;

    @media screen and (min-width: 465px) {
        flex-direction: row;
        justify-content: space-around;
    }

    @media screen and (min-width:900px) {
        margin: 2rem 10rem;
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    .social_connect_container {
        margin: 2rem 0rem;

        h3 {
            font-size: 1.5rem;
            margin: 10px;
        }

        .social_connect_icons {
            text-align: left;

            h4 {
                margin: 5px;
            }

            img {
                max-width: 2rem;
                max-height: 2rem;
            }

            .contact_icons {
                padding: 5px;
                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                
                    div {
                        display: flex;
                    }

                    a {
                        text-decoration: none;
                        color: black;

                        &:hover {
                            color: $primary;
                        }

                        @media screen and (min-width:767px) {
                            padding: 5px;
                            font-size: 1.2rem;
                        }
                    }
                } 
            }

            .social_icons {
                padding: 5px;

                ul {
                    display: flex;
                    justify-content: space-between;

                    li {
                        a {
                            cursor: pointer;
                            
                            
                        }
                        
                        &:hover {
                            transform: scale(1.5);
                        }
                    }
                    
                    
                }

                
            }
        }
    }

    .message_me_container {
        margin-bottom: 1rem;
        padding: 5px;
        display: flex;
        flex-direction: column;
        width:20rem;

        @media screen and (min-width:767px) {
            width: 40%;
            margin: 1rem 0;
        }
        
        h3 {
            font-size: 1.3rem;
        }
            

        form {
            
            .input_form {
                display: flex;
                flex-direction: column;
                margin: 5px 2px;


                input {
                    min-height: 1.5rem;
                    margin: 3px;
                    border: 1px solid $base-color;
                    border-radius: 5px;
                    padding: 5px;

                }
                
                textarea {
                    min-height: 5rem;
                    margin: 3px;
                    border: 1px solid $base-color;
                    border-radius: 5px;
                    padding: 5px;

                }

                .submit_btn {
                    background-color: $primary;
                    color: $white;
                }

                
            }
            
        }
    }

    
}

.footer_text {
        background-color: $primary;
        color: $white;
        text-align: center;
        font-size: 1rem;
        letter-spacing: .3rem;
        font-weight: 600;
    }

hr {
        // display: none;
        min-width: 50%;
        text-align: center;
        height: .2rem;
        background-color: $primary;
        margin: 0 1rem;

        @media screen and (min-width:767px) {
            text-align: center;
            margin: 0 2rem;
        }
}

@import 'darkmode';