$base-color: #0a946a;
$primary: rgba(3, 117, 89, 0.801);
$white: rgb(243, 243, 243);
$span: rgb(0, 54, 0);

:root {
    --primary: #{$primary};
    --base-color: #{$base-color};
    --white: #{$white};
    --span-color: #{$span};
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
    
}

.top-nav {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    

    .nav_home_btn {
        font-size: 1.5rem;
        font-weight: bolder;
        min-width: 30%;

        a {
            color: var(--base-color);
            text-decoration: none;
        }

        span {
            font-size: 2rem;
            font-style: italic;
        }
    }

    .nav_link_btn {

        .nav_menu {
            position: fixed;
            left: -100%;
            top: 3rem;
            flex-direction: column;
            color: var(--base-color);
            // background-color: white;
            width: 90%;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            padding: 5px;

            li {
                font-size: 20px;
                display: block;
                padding: 5px;

                .nav_link {
                    transition: 0.3s ease-out;
                    text-decoration: none;
                    color: var(--primary);  
                }

                .nav_link:hover {
                    color:green;
                }
            }
        }

        .nav_menu.active{
            left: 0;
          }
    }
}

.hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 5px;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background-color: var(--base-color);
}

.hamburger.active .bar:nth-child(2){
      opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width:767px){
    .hamburger{
      display: none;
    }

    .container {
        // position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9;
        margin-bottom: 10px;
    }

    .nav_home_btn {
        width: 30px;
    }
    .nav_link_btn {
        width: 70%;
    }

    .top-nav {
        .nav_link_btn {
            .nav_menu {
                position: revert;
                width: 100%;

                li {
                    display: inline;
                    text-decoration: underline green;
                    margin-left: 3rem;
                }

                .nav_mode_btn {
                    width: 3rem;
                    margin-left: 3rem;
                }
            }
        }
    }
  
}

.hero-header {
    gap: 5px;
    align-items: center;

    @media screen and (min-width:465px) {
        height: 18rem; 
        display: flex;
        justify-content: space-between;
        max-height: 40vh;
    }

    .hero_text_container {
        background-color: var(--primary);
        min-height: 30vh;

        @media screen and (min-width:767px) {
            width:50%;
            padding: 30px;
            min-height: 13rem;
            
        }

        @media screen and (min-width: 465px) {
            min-height: 10rem;
        }

        h1 {
            color: var(--white);
            font-size: 2rem;
            padding: 5px;

            span {
                color: var(--span-color);
            }
        }

        h3 {
            color: var(--white);
            font-size: 1.5rem;
            padding: 5px;
        }

        input {
            float: right;
            margin-top: 10px;
            margin-right: 10px;
        }
    }

    .hero_img_container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            margin-right: 10px;
            max-width: 350px;
            max-height: 350px;
        }

        @media screen and (min-width:767px) {
            width:60%;
        }
    }
}

.service-container {
    display: flex;
    height: 40vh;
    justify-content: space-around;
    align-items: center;
    background: white;
    color: black;
    font-weight: 600;

    h3 {
        color: var(--base-color);
    }

    .service_dev_container {
        .service_offer {
            padding: 5px;
            font-size: 1.2rem;

            ul {
                li {
                    padding: 5px;
                }
            }
        }
    }

    

    .working_process_container{
        width: 45%; 

        .working_process {
            padding: 5px;
            
            ul {
                li {
                    list-style-type: none;
                    padding-left: 5px;
                }

                div {
                    text-align: center;
                    margin: 3px;
                    border: 1px solid black;
                    height: 2rem;
                    width: 1px;
                    color: black;
                }
            }
        }

        
    }
}

.about-container {
    // text-align: center;
    
    .about_header_text {
        float: right;
        color: var(--primary);
    }

    .about_me_container {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        padding: 5px;
        width: 100%;
        min-height: 35vh;
        background: var(--primary);

        @media screen and (min-width:465px) {
            height: 20vh;
        }

        // @media screen and (min-width:767px){
        // }


        .profile_img_container {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 3;
            background: var(--white);
            border-radius: 50%;
            margin: .8rem;
            height: 8rem;

            img {
                max-width: 7rem;
                max-height: 7rem;
                border-radius: 50%;

                @media screen and (min-width:767px) {
                    max-height: 10rem;
                    max-width: 10rem;
                    border-radius: 10px;
                }
            }

            @media screen and (min-width:767px) {
                min-height: 11rem;
                border-radius: 10px;
            }
        }

        .about_me_text {
            width: 100%;
            padding: 10px;

            @media screen and (min-width:767px) {
                padding: 30px;
            }


            button {
                margin-top: 10px;
                float: right;
                margin-top: 5px;

                @media screen and (max-width:465px) {
                    margin-top: 20px;
                }
            }
        }
    }

    .skill_header_text {
        float: left;
        color: var(--primary);
    }

    .skills_container {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        // background: var(--primary);
        padding: 5px;

        h4 {
            color: var(--base-color);
        }

        div {
            margin-top: 10px;
            ul {
            list-style-type: none;
            }
        }

        .soft_skills_container {
            width: 30%;
        }
    }
}

.portfolio-container {
    min-height: 30vh;
    padding: 5px;

    h3 {
        color: var(--primary);
    }


    .portfolio_projects {
        display: grid;
        grid-template-columns: auto auto;
        min-height: 12rem;

        @media screen and (min-width:766px){
            grid-template-columns: auto auto auto auto;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        margin: 5px;
        justify-content: center;
        padding: 5px;
        background: var(--primary);
        color: var(--white);

        .card-img-top {
            max-height: 50px;
            max-width: 100%;
        }

        .btn-primary {
            display: flex;
            padding: 2px;
            margin: 3px;
            flex-direction: column;
            justify-content: space-between;
            gap: 10px;

            @media screen and (min-width:767px){
                flex-direction: row;
                justify-content: space-around;
            }

            .btn {
                background-color: var(--white);
                text-decoration: none;
                color: var(--base-color);
                padding: 5px;
            }
        }
    }
}

.contact_footer_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--primary);
    text-align: center;

    @media screen and (min-width: 465px) {
        flex-direction: row;
        justify-content: space-around;
    }

    .message_me_container {
        padding: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;

        @media screen and (min-width:767px) {
            width: 40%;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            

            .input_form {
                display:block;

                input {
                    margin: 2px;
                    min-height: 1.5rem;
                    padding: 3px;
                }

                @media screen and (min-width:767px){
                    display: flex;
                    justify-content: center;
                }
            }

            .input_block {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                textarea {
                    padding: 3px;
                    min-height: 5rem;
                    min-width: 11rem;

                    @media screen and (min-width:425px) {
                        min-width: 15rem;
                    }
                }

                input {
                    margin: 3px;
                }
            }
        }
    }
}