@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/super-donuts');
                


@import 'variables';

$base-color: #0a946a;
$white: rgb(243, 243, 243);
$whiter: white;
$primary: #507564;
$primary-bgd: #03503e52;


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    overflow-x: clip;
    list-style: none;
    scroll-behavior: smooth;
}

/*<===== header section starts =====>*/

.container {
    max-width: 1440px;
    width: 100%;
    background-color: $primary-bgd;
    
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav_home_btn {
        padding-top: .5rem;
        font-size: 1.1rem;
        font-weight: bold;
        margin-left: .5rem;
        letter-spacing: 1.2px;

        a {
            color: #000;
            text-decoration: none;
                                                
        }

        @media screen and (min-width:767px) {
            text-align: center;
            min-width: 40%;
            padding: 1rem;
            font-size: 1.5rem;
        }

    }

    .nav_link_btn {

        .nav_menu {
            position: fixed;
            top: 3rem;
            background-color: $white;
            color: #000;
            width: 50%;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            padding: 5px;
            margin-right: .5rem;
            z-index: 9999;

            li {
                font-size: 1rem;
                display: block;
                padding: 5px;
                font-weight: 600;
                letter-spacing: 2px;

                .nav_link {
                    transition: 0.3s ease-out;
                    text-decoration: none;
                    color:#000;
                }

                .nav_link:hover {
                    text-decoration: underline 2px $primary;
                }
            }

            .fav {
                position: relative;
                display: inline-block;
                width: 45px;
                height: 20px;
                vertical-align: middle;
                
                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
            
                .switch {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color:$primary-bgd;
                    transition: 0.4s;
                    border-radius: 25px;
                    
                    &:before {
                        position: absolute;
                        content: "";
                        height: 18px;
                        width: 18px;
                        left: 1px;
                        bottom: 1px;
                        background-color: $primary;
                        transition: 0.4s;
                        border-radius: 50%;
                    }
                }

                input:checked + .switch {
                    background-color: $primary;
                }
                
                input:focus + .switch {
                    box-shadow: 0 0 1px #51b5b1;
                }
                
                input:checked + .switch:before {
                    transform: translateX(25px);
                    background-color: $white;
                }
            }

            
            @media screen and (min-width: 1024px){
                justify-content: flex-end;
                padding-inline: 2rem;

                li {
                    display: inline;
                    margin-left: 3rem;
                }
            }
        }
        .nav_menu.active{
            right: 0;
        }
    }
}

/*<===== hamburger styling =====>*/
.hamburger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 5px;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    background-color: $primary;
}

.hamburger.active .bar:nth-child(2){
      opacity: 0;
}

.hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
}

@media screen and (min-width:767px){
    .hamburger{
      display: none;
    }

    .nav_home_btn {
        width: 30px;
    }
    .nav_link_btn {
        width: 70%;
    }

    .top-nav {
        .nav_link_btn {
            .nav_menu {
                position: revert;
                width: 100%;
                background-color: revert;
                display: flex;
                align-items: center;

                li {
                    display: inline;
                }

                .fav {
                    margin-left: 3rem;

                    .switch {    
                        background-color:$white;
                    }
                }
                
            }
        }
    }
  
}

/*<===== header section ends =====>*/


/*<===== hero section starts =====>*/
#home {
    background-color: $primary-bgd;
}
.hero-header {
    padding: 2rem .5rem;
    height: 35rem;
    background-image: url(/images/Hand-coding-cuate.svg);
    background-repeat: no-repeat;
    background-position: 50% 90%;


    @media screen and (min-width:767px) {
        background-image: url(/images/Hand-coding-pana.svg);
        display: flex;
        justify-content: space-between;
        background-position: 90% 50% ;
        background-size: 35rem;
    }

    .hero_text_container {
        h1 {
            font-size: 2rem;

            span {
                font-size: 1.5em;
                color: $primary;
            }
        }

        p {
            font-size: 1.2rem;
            font-weight: 400;
            color: #000;
            margin: 1rem 0;
        }

        .download-cv {
            margin: 10px 0 0 10px;
            font-size: 1.1rem;
            width: 12rem;
            background-color: $white;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: $primary;
                color: $white;
                transition: all .5s ease-in-out;
                transform: scale(1.1);
                border: none;
                outline: none;
            }
        }
        
        @media screen and (min-width:767px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            min-height: 13rem;
            margin-left: 5rem; 
            width: 40%;
            color: #000;


            h1 {
                font-size: 3.5rem;
            }

            h3 {
                font-size: 2rem;
            }

            p {
                font-size: 1.5rem;
                font-weight: 500;
            }
            
        }
    }

}
/*<===== hero section ends =====>*/


/*<===== about me starts =====>*/
.about-container {
    margin: 4rem auto;
    font-size: 1.5rem;
    position: relative;

    @media screen and (min-width:767px) {
        &::after {
            margin: 0 18rem;
            content: "ABOUT";
            font-size: 10rem;
            position: absolute;
            letter-spacing: 2rem;
            font-family: 'Super Donuts', sans-serif;
            color: rgba(187, 182, 182, 0.158);
            top: 15%;
            left: -30%;
            z-index: -1;
        }
    }

    @media screen and (min-width:1024px) {
        &::after {
            left: -5%;
        }
    }
    
    .about_header_text {
        float: right;
        font-size: 1.5rem;
        padding-right:1rem;
        position: relative;

        &::after {
            content: "ABOUT ME";
            font-size: 2.5rem;
            position: absolute;
            font-family: 'Super Donuts', sans-serif;
            color: rgba(187, 182, 182, 0.158);
            top:-70%;
            right: 0;
            z-index: -1;
        }

        @media screen and (min-width:767px) {
            padding-right: 5rem;

            &::after {
                top: -45%;
                right: 2%;
            }
        }
    }

    .about_me_container {
        margin-top: 2rem;
        gap: 5px;
        padding: 5px;
        width: 100%;

        .profile_img_container {
            border-radius: 50%;
            margin: .8rem;
            height: 8rem;
            float: left;
            transition: transform .2s ease-in-out;

            img {
                max-width: 7rem;
                max-height: 7rem;
                border-radius: 50%;
                background-color: $whiter;

                @media screen and (min-width:767px) {
                    max-height: 15rem;
                    max-width: 15rem;
                    border-radius: 10px;

                }
            }

            

            @media screen and (min-width:767px) {
                width: 40%;
                min-height: 11rem;
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-grow: 3;
                
                &:hover {
                    transform:scale(1.3)
                }
            }
        }

        .about_me_text {
            margin: 2rem auto 1rem;
            width: 100%;
            padding: 10px;
            font-size: 1rem;

            @media screen and (min-width:767px) {
                padding: 30px;
                margin: 0;
                width: 45%;
                font-size: 1.3rem;

            }


            // button {
            //     float: right;
            //     margin: 1rem auto;
            //     background-color: $whiter;
            //     border-radius: 5px;
            //     padding: 5px;
            //     border: 1px solid $primary;
            //     cursor: pointer;
            //     height: 2rem;
            //     width: 10rem;

            //     &:hover {
            //         transform: scale(1.2);
            //         transition: all .5s ease-in-out;
            //         background-color: $primary;
            //     }

            //     @media screen and (min-width:767px) {
            //         margin: 1rem auto;
    
            //     }
            // }
        }

        @media screen and (min-width:767px) {
            display: flex;
            align-items: center;
        }

    }
}
/*<===== about me ends =====>*/

/* <===== skills container starts =====>*/
#skills {
    background-color: rgba(187, 182, 182, 0.158);
}
.skill-container {
    margin: 2rem auto;

    .skill_header_text {
        margin-left: 1rem;
        font-size: 1.5rem;
        padding-top: 1rem;
        position: relative;

        &::after {
            content: "SKILLS";
            font-size: 2.5rem;
            position: absolute;
            font-family: 'Super Donuts', sans-serif;
            color: rgba(187, 182, 182, 0.158);
            top: 8%;
            left: 1%;
            z-index: -1;
        }

        @media screen and (min-width:767px) {
            margin-left: 5rem;
        }
    }

    .skills_container {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;

        .dev_skills_container {
            flex-grow: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .dev_skills {
                margin-bottom: 1rem;
            }
        }
        
        .skills_header {
            text-align: center;
        }

        @media screen and (min-width:767px) {
            flex-direction: row;
            justify-content: space-around;
            margin: 0 3rem;
            align-items: center;

            .soft_skill_container {
                max-width: 30%;
                .soft_skills_list {
                    text-align: left;
                    ul {
                        li {
                            display: block;
                        }
                    }
                }
            }
            
        }
        
    }
    
    .dev_skills_icons, .other_skills_icons {
        display: flex;
        justify-content: space-evenly;
        padding: 5px;
    }

    .dev_icon, .skills_icon {
        max-width: 2rem;
        max-height: 2rem;

        @media screen and (min-width:767px) {
            max-width: 4rem;
            max-height: 4rem;
        }
    }
}
/*<===== skills section ends =====>*/


/*<===== portfolio section starts =====>*/

.portfolio-container {
    font-size: 1.5rem;
    margin: 2rem 0;

    .portfolio-header {
        padding: 1rem;
        position: relative;

        &::after {
            content: "PORTFOLIO";
            font-size: 2.5rem;
            position: absolute;
            font-family: 'Super Donuts', sans-serif;
            color: rgba(187, 182, 182, 0.158);
            top: 8%;
            left: 1%;
            z-index: -1;
        }
    }

    p {
        padding: 5px;
        
        span {
            a {
                color: $primary;
                text-decoration: none;

                &:hover {
                    color: $primary-bgd;
                }
            }
        }
    }

    .portfolio_projects {
        display: grid;
        grid-template-rows: auto auto;
        justify-content: center;
        gap: 1rem;
        padding: 1rem 0;


        @media screen and (min-width:767px){
            margin: 0 5rem;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-content: center;
        }

        @media screen and (min-width:1024px){
            margin: 0 auto;
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
            justify-content: center;
            padding: 0 5rem;
            gap: 3rem;
        }
    }

    .flip-card {
        background-color: transparent;
        width: 250px;
        height: 250px;
        perspective: 1000px;

    
        &:hover .card-inner {
            transform: rotateX(180deg);
        }

        .card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.5s ease-in;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border-radius: 1rem;

            .flip-card-front,
            .flip-card-body {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            }

            .flip-card-front {
                border-radius: 1rem;

                .card-img-top {
                    height: 100%;
                    width: 100%;
                    border-radius: inherit;
                    object-fit: cover;
                }
            }

            .flip-card-body {
                background-color:#507564;
                color: $white;
                transform: rotateX(180deg);
                font-size: 1rem;
                padding: 15% 0;
                border-radius: 1rem;

                

                .btn-primary {
                    display: flex;
                    padding: 2px;
                    margin: 3px;
                    justify-content: space-between;

                    .btn {
                        border-radius: .5rem;
                        font-size: 1rem;
                        border: none;
                        width: 6rem;
                        margin-inline: 1rem;


                        a {
                            color: #000;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
                            .btn_img {
                                max-width: 30px;
                                max-height: 30px;

                            }
                        }
                        

                        &:hover {
                            background-color: transparent;
                            border: 1px solid $white;
                            outline: none;
                            transform: scale(1.1);
                            transition: all .2s ease-in-out;

                            a {
                                color: $white;
                            }
                        }

                    }

                }
                
                
            }
            
        }

        @media screen and (min-width: 767px){
            width: 22rem;
            height: 22rem;

            &:hover .card-inner {
                transform: none;
            }

            .card-inner {
                // border: 1px solid $base-color;
                display: block;
                .flip-card-front,
                .flip-card-body {
                    position: static;
                }
                .flip-card-front {
                    height: 12rem;
                }

                .flip-card-body {
                    height: 10rem;
                    transform: none;
                    border-radius: 0;
                    padding: 1rem;
                    text-align: left;
                    border-bottom-left-radius: inherit;
                    border-bottom-right-radius: inherit;
                    
    

                    .btn-primary {
                        padding: 0;
                        .btn {
                            width: 40%;
                            // height: 3rem;
                            margin-inline: 0;
                        }
                    }
                }
            }
        }

        @media screen and (min-width:1024px) {
            width: 30rem;
            height: 25rem;

            &:hover .card-inner {
                transform: none;
            }

            .card-inner {
                // border: 1px solid $base-color;
                display: block;
                .flip-card-front,
                .flip-card-body {
                    position: static;
                }
                .flip-card-front {
                    height: 15rem;
                }

                .flip-card-body {
                    height: 10rem;
                    transform: none;
                    border-radius: 0;
                    padding: 1rem;
                    text-align: left;
                    border-bottom-left-radius: inherit;
                    border-bottom-right-radius: inherit;
                    
                    .card-title {
                        font-size: 1.5rem;    
                    }

                    .btn-primary {
                        padding: 0;
                        .btn {
                            width: 40%;
                            height: 3rem;
                            margin-inline: 0;
                        }
                    }
                }
            }


        }
    }
    

    @media screen and (min-width:767px) {
        margin: 1rem 5rem;
    }
}
/*<===== portfolio ends =====>*/


/*<===== footer section starts =====>*/
#contact {
    background-color: $primary-bgd;
}

.contact-section {
    .contact-header {
        text-align: center;
        position: relative;
        padding-top: 1rem;

        h3 {
            font-size: 1.5rem;
            margin: 10px;
        }

        p {
            font-size: 1rem;
        }
        
        &::after {
            content: "CONTACT";
            font-size: 3rem;
            position: absolute;
            font-family: 'Super Donuts', sans-serif;
            color: rgba(187, 182, 182, 0.158);
            top: 5%;
            left: 15%;
            z-index: -1;

            @media screen and (min-width:767px) {
                left: 41%;
            }
        }
    }

    .contact_footer_section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-weight:600;

        @media screen and (min-width: 465px) {
            flex-direction: row;
            justify-content: space-around;
        }

        @media screen and (min-width:900px) {
            margin: 0 10rem;
            font-size: 1.2rem;
        }

        p {
            font-size: .8rem;
        }

        .social_connect_container {

            .social_connect_icons {
                text-align: center;
                margin: 1rem auto;

                h4 {
                    margin-bottom: .5rem;
                }

                img {
                    max-width: 2rem;
                    max-height: 2rem;
                }

                .contact_icons {
                    ul {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    
                        div {
                            display: flex;
                            align-items: center;
                        }

                        a {
                            text-decoration: none;
                            color: black;
                            font-size: .8rem;

                            &:hover {
                                color: $primary;
                            }

                            @media screen and (min-width:767px) {
                                padding: 5px;
                                font-size: 1rem;
                            }
                        }
                    } 
                }

                .social_icons {
                    padding: 5px;

                    ul {
                        display: flex;
                        justify-content: space-between;

                        li {
                            a {
                                cursor: pointer;  
                            }
                            
                            &:hover {
                                transform: scale(1.5);
                            }
                        }
                        
                        
                    }

                    
                }

                @media screen and (min-width:767px) {

                }
            }
        }

        .message_me_container {
            margin-bottom: 1rem;
            padding: 5px;
            display: flex;
            flex-direction: column;
            width: 20rem;

            @media screen and (min-width:767px) {
                width: 40%;
                margin: 1rem 0;
            }
            
            h3 {
                font-size: 1rem;
            }
                

            form {
                
                .input_form {
                    display: flex;
                    flex-direction: column;
                    margin: 5px 2px;


                    input {
                        min-height: 1.5rem;
                        margin: 3px;
                        border: none;
                        border-radius: 5px;
                        padding: 5px;
                        outline: none;

                    }
                    
                    textarea {
                        min-height: 5rem;
                        margin: 3px;
                        border: none;
                        border-radius: 5px;
                        padding: 5px;
                        outline: none;

                    }

                    .submit_btn {
                        background-color: $primary;
                        color: $white;
                        border: none;
                    }

                    
                }
                
            }
        }

    
    }
}

.footer_text {
    text-align: center;
    font-size: .8rem;
    font-weight: 500;

    .rights-link {
        text-decoration: none;
        color: $white;
    }
}

.to-top {
    position: fixed;
    bottom: 5%;
    right: 1%;
    z-index: 999;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $primary;

    img {
        width: 3rem;
        height: 3rem;
    }
}

@import 'darkmode';